{% extends "base.html" %}
{% block content %}
<!-- Page header with logo and tagline-->
<header class="py-3 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to my Poker Blog!</h1>
            <p class="lead mb-0">This blog follows my journey to becoming a poker champion!</p>
        </div>
    </div>
</header>
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Blog post-->
                    {% for post in post_list %}
                    <div class="card mb-4">
                        {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="../media/Dealer_button_chip_&_playing_cards.JPG" alt="image showing a few poker cards">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="blog picture showing poker">
                                {% endif %}
                        <div class="card-body">
                            <div class="small text-muted">{{ post.created_on }}</div>
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <a class="btn btn-primary" href="{% url 'post_detail' post.slug  %}">Read more →</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'cat_tag' tag='PR' %}">Progress Reports</a></li>
                                        <li><a href="{% url 'cat_tag' tag='SE' %}">Session Summaries</a></li>
                                        <li><a href="{% url 'cat_tag' tag='SP' %}">Interesting Spots</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="p-3 mb-2 bg-dark text-white">
                        <div class="card-body">
                            <a href="{% url 'session_detail' %}" class="btn btn-primary">SESSION RESULTS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}