{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <h2 class="card-text">{{ post.excerpt }}</h2>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ post.created_on }} {{ post.author }}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'cat_tag' tag=post.tag %}">{{ post.tag }}</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.featured_image.url }}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ post.content | safe }}</p>
                        </section>
                        <div class="fs-5 mb-4">
                            <div class="col-2">
                                <div class="text-secondary">
                                    <i class="far fa-heart"></i> {{ post.number_of_likes }} 
                                </div>
                            </div>
                            <div class="col-2">
                                {% with comments.count as total_comments %}
                                <div class="text-secondary">
                                    <i class="far fa-comments"></i> {{ total_comments }}
                                </div>
                                {% endwith %}
                            </div>
                        </div>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-4">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if commented %}
                                <div class="alert alert-success" role="alert">Your comment is awaiting approval</div>
                                {% else %}
                                {% if user.is_authenticated %}
                                <h4>Leave a comment:</h4>
                                <p>Posting as: {{ user.username }}</p>
                                <form method="post" class="mb-4">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                <button type="submit" class="btn btn-signup btn-dark">Submit</button>
                                </form>
                                {% endif %}
                                {% endif %}
                                <!-- Single comment-->
                                {% for comment in comments %}
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.name }}</div>
                                        {{ comment.body | linebreaks }}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Side widgets-->
                    <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                            <div class="card-header">Categories</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            <li><a href="{% url 'cat_tag' tag='PR' %}">Progress Reports</a></li>
                                            <li><a href="{% url 'cat_tag' tag='SE' %}">Session Summaries</a></li>
                                            <li><a href="{% url 'cat_tag' tag='SP' %}">Interesting Spots</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Side widget-->
                        <div class="p-3 mb-2 bg-dark text-white">
                            <div class="card-body">
                                <a href="{% url 'session_detail' %}" class="btn btn-primary">SESSION RESULTS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
