{% extends "base.html" %}
{% block content %}

<header class="py-5 bg-light border-bottom mb-4">
  <div class="container">
    <div class="text-center my-5"></div>
      <!-- Blog entries-->
      <p class="lead mb-0">Text explaining table</p>
    </div>
  </div>
</header>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ session.name }}</th>
      <th scope="col">Venue</th>
      <th scope="col">Length</th>
      <th scope="col">P&L</th>
    </tr>
  </thead>
{% for session in session_list %}
  <tr>
      <td></td>
      <td>{{ session.name }}</td>
      <td>{{ session.venue }}</td>
      <td>{{ session.length }}</td>
      <td>{{ session.profit_loss }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}