{% extends "base.html" %}
{% block content %}
<p>{{ session_list }}</p>
<p>{{ object_list }}</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ session.name }}</th>
        <th scope="col">Venue</th>
        <th scope="col">Length</th>
        <th scope="col">P&L</th>
      </tr>
    </thead>
{% for session in session_list %}
    <tr>
        <th scope="row">1</th>
        <td>{{ session.name }}</td>
        <td>{{ session.venue }}</td>
        <td>{{ session.length }}</td>
        <td>{{ session.profit_loss }}</td>
  </tr>
</table>
{% endfor %}
{% endblock %}
